<div class="btn-group d-flex justify-content-center rounded-bottom shadow">
  <form class="flex-fill" action="{{../user.watchedList }}/add/{{ media_type }}/{{ id }}" method="POST">
      <button class="w-100 p-2 btn btn-light " title="watched"><i class="fas fa-check"></i></button>
  </form>
  <form class="flex-fill" action="{{../user.watchingList }}/add/{{ media_type }}/{{ id }}" method="POST">
      <button class="w-100 p-2 btn btn-light " title="watching"><i class="far fa-eye"></i></button>
  </form>
  <form class="flex-fill" action="{{../user.towatchList }}/add/{{ media_type }}/{{ id }}" method="POST">
      <button class="w-100 p-2 btn btn-light " title="to be watched"><i class="far fa-clock"></i></button>
  </form>
  <form class="flex-fill" action="/approve/{{ media_type }}/{{ id }}" method="POST">
      <button class="w-100 p-2 btn btn-light " title="approve"><i class="far fa-thumbs-up"></i></button>
  </form>
</div>