      <div class="d-flex align-items-center shadow rounded-twice py-4 mb-4 position-relative">
        <div class="d-flex align-items-center justify-content-center col-1 col-sm-2">
          <a href="/mtv/{{media_type}}/{{tmdb}}" class="position-relative d-flex w-100 justify-content-center">
            <img class="rounded-twice w-75" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ tmdbData.poster_path }}" alt="" title="Harry Potter and the Philosopher's Stone">
            {{!-- <div class="bg-5 position-absolute rounded-circle d-flex align-item-center justify-content-center checkmark">
              <i class="lni-check-mark-circle text-2 text-white"></i>
            </div> --}}
          </a>
        </div>
          <div class="color-4 pr-3 py-3">
            <h5 class="mb-0"><a href="/mtv/{{media_type}}/{{tmdb}}" class="color-4 link-color-1">{{ title }}</a></h5>
            <p class="text-0-75 text-muted">{{tmdbData.release_date}}</p>
            <p class="mb-0">
              <span class="text-0-75 font-weight-bold text-muted">Overview</span><br>
              {{ tmdbData.overview}}
            </p>
            <div class="d-inline-flex align-items-center mt-3 bg-light rounded-twice position-absolute border" style="right: 5px; bottom:5px;">
              <a href='/{{user.username}}/list/{{user.watchedList}}' class="px-3 py-2 d-flex align-items-center"><i class="lni-check-mark-circle text-1-5 color-4"></i></a>
              <a href='/{{user.username}}/list/{{user.watchingList}}' class="px-3 py-2 d-flex align-items-center"><i class="lni-arrow-right-circle text-1-5 color-4"></i></a>
              <a href='/{{user.username}}/list/{{user.towatchList}}' class="px-3 py-2 d-flex align-items-center"><i class="lni-alarm-clock text-1-5 color-4"></i></a>
            </div>

          </div>
      </div>