<div class="m-5 d-flex flex-column justify-content-center">
  <img class="mx-auto" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{ tmdbData.poster_path }}">
  <div>
    <h1 class="text-center">{{ title }}</h1>
    <p class="text-center">{{tmdbData.release_date}}</p>
    {{!-- <p class="text-center">{{ media_type }}</p> --}}  
    <p>{{ approveCount }}</p>
    <form action="/disapprove/{{ media_type }}/{{ tmdb }}" method="post">
      <button>Disapprove!</button>
    </form>
    <p class="text-justify">{{tmdbData.overview}}</p>
  </div>
</div>