{{!-- {{userObj}} --}}
<div id="userInfo" class="w2wGradient d-flex justify-content-center align-items-center">
  <div class="bg-white col-12 col-sm-10 m-5 rounded-twice shadow d-flex align-items-center justify-content-start">
    <div class="py-4 px-5">
      <img class="shadow rounded-circle profile-pic" src={{user.profilePic}}> 
      {{!-- <img class="shadow rounded-circle" src="https://lh3.googleusercontent.com/-XbkzMFWVLE0/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re6kkquCia1vbFpbzQieoGplRr2rw.CMID/s192-c/photo.jpg">  --}}
      <h3 class="text-center text-1-5 color-4 mt-3"><span>@</span>{{userObj.username}}</h3>
    </div>
    <div class="px-3">
      <h1 class="color-4 mb-0">{{userObj.name}}</h1>
      <p class="text-muted"><span class="mr-2">{{userObj.followersCount}} followers</span>|<span class="ml-2"></span>{{userObj.followingCount}} following</span></p>
      <p class="">{{userObj.description}}</p> 
      {{#ifEquals userObj.username user.username }}
      <div class="d-flex align-items-center position-absolute" style="right: 10px; bottom:10px;">
        <a href="/user/{{userObj.username}}/edit" class="bg-light text-muted btn-sm py-1 px-3 rounded-twice border mr-2 d-flex align-items-center justify-content-between"><i class="lni-cog mr-2"></i>Edit</a>
        <form action="/sign-out" method="POST">
          <button class="bg-light text-muted btn-sm py-1 px-3 rounded-twice border">Logout</button>
        </form>
      </div>
      {{else}}
        {{#if follow}}
          <form action="/user/{{userObj.username}}/unfollow" method="post" class="text-left">
            <button class="bg-light text-muted btn-sm py-1 px-3 rounded-twice border">Unfollow</button>
          </form>
        {{else}}
          <form action="/user/{{userObj.username}}/follow" method="post" class="text-left">
            <button class="btn-gradient py-1 px-3 btn-sm rounded-twice">Follow</button>
          </form>
        {{/if}} 
      {{/ifEquals}}      
     </div> 
    </div>
  </div>
<div class="bg-white">  

<div class="tabs">
  <ul class="nav nav-tabs nav-justified md-tabs indigo py-1" id="myTabJust" role="tablist">
    {{#ifEquals userObj.username user.username}}
    <li class="nav-item">
      <a class="nav-link active" id="suggestions" data-toggle="tab" href="#cSuggestions" role="tab" aria-controls="home-just"
        aria-selected="true">Suggestions</a>
    </li>
    {{/ifEquals}} 
    <li class="nav-item">
      <a class="nav-link {{#ifEquals userObj.username user.username}}{{else}}active{{/ifEquals}}" id="approved" data-toggle="tab" href="#cApproved" role="tab" aria-controls="home-just"
        aria-selected="true">Approved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="watched" data-toggle="tab" href="#cWatched" role="tab" aria-controls="profile-just"
        aria-selected="false">Watched</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="currently" data-toggle="tab" href="#cWatching" role="tab" aria-controls="contact-just"
        aria-selected="false">Watching</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="want-to-watch" data-toggle="tab" href="#cToWatch" role="tab" aria-controls="contact-just"
        aria-selected="false">to Watch</a>
    </li>

  </ul>
  <div class="tab-content card container" id="myTabContentJust">
    {{#ifEquals userObj.username user.username}}
    <div class="tab-pane fade show py-5 active show" id="cSuggestions" role="tabpanel" aria-labelledby="home-tab-just">
      {{#each suggestionsObj}}
        {{#with mtv_id}}
          {{>mtvLine}}
        {{/with}}
      {{/each}}
      {{suggestionsObj}}
    </div>
    {{/ifEquals}}
    <div class="tab-pane fade py-5 {{#ifEquals userObj.username user.username}}{{else}}active show{{/ifEquals}}" id="cApproved" role="tabpanel" aria-labelledby="profile-tab-just">
      {{#each approvesObj}}
        {{#with mtv_id}}
          {{>mtvLine}}
        {{/with}}
      {{/each}}
      {{!-- {{approvesObj}} --}}
    </div>
    <div class="tab-pane fade py-5" id="cWatched" role="tabpanel" aria-labelledby="contact-tab-just">
      {{#each userObj.watchedList.mtvs}}
        {{>mtvLine}}
      {{/each}}
    </div>
    <div class="tab-pane fade py-5" id="cToWatch" role="tabpanel" aria-labelledby="contact-tab-just">
      {{#each userObj.towatchList.mtvs}}
        {{>mtvLine}}
      {{/each}}
    </div>
    <div class="tab-pane fade py-5" id="cWatching" role="tabpanel" aria-labelledby="contact-tab-just">
      {{#each userObj.watchingList.mtvs}}
        {{>mtvLine}}
      {{/each}}  
    </div>
  </div>
</div>
  



<div>
