{{!-- {{userObj}} --}}
<div class ="container-fluid">
  <div class ="row">
    <div class ="col-md-6 col-sm-6 text-center">
        <img class="mx-auto rounded-top shadow posterBanner w-50" src={{userObj.profilePic}}>
    </div>
    <div class ="col-md-6 col-sm-6 flex-column justify-content-center align-items-center">
        <p class="text-center">{{userObj.username}}</p> 
        <p class="text-center font-italic">mood</p>
        <div class ="col-md-12 col-sm-12 text-center">
          {{#if follow}}
            <form action="/user/{{userObj.username}}/unfollow" method="post">
            <button>UNFOLLOW</button>
            </form>
          {{else}}
            <form action="/user/{{userObj.username}}/follow" method="post">
            <button>FOLLOW</button>
            </form>
          {{/if}}
      </div>
     </div>
  </div>

  <div class="mt-5">
    <div class="row text-center">
    <div class ="col-md-6 col-sm-6">
      <p class="text-center">Following:{{userObj.followingCount}}</p>
    </div>

    <div class ="col-md-6 col-sm-6 text-center">
      <p>Followers:{{userObj.followersCount}}</p>
    </div>
  </div>
</div>

  <ul>
    {{#each userObj.watchedList}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each userObj.towatchList}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
  <ul>
    {{#each userObj.watchingList}}
      <li>{{this}}</li>
    {{/each}}
  </ul>


</div>