{{!-- {{userObj}} --}}
<div id="userInfo" class="w2wGradient d-flex justify-content-center align-items-center">
  <div class="bg-white col-12 col-sm-10 m-5 rounded-twice shadow d-flex align-items-center justify-content-start">
    <div class="py-4 px-5">
      <img class="shadow rounded-circle" src="https://lh3.googleusercontent.com/-XbkzMFWVLE0/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3re6kkquCia1vbFpbzQieoGplRr2rw.CMID/s192-c/photo.jpg"> 
      <h3 class="text-center text-1-5 color-4 mt-3"><span>@</span>{{userObj.username}}</h3>
    </div>
    <div class="px-3">
      <h1 class="color-4 mb-0">Filipe Catarino</h1>
      <p class="text-muted"><span class="mr-2">{{userObj.followersCount}} followers</span>|<span class="ml-2"></span>{{userObj.followingCount}} following</span></p>
      <p class="">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id maxime esse suscipit voluptatibus voluptate accusamus, facere distinctio, beatae debitis impedit vitae culpa, fugiat consequuntur magni placeat excepturi sed perspiciatis quod?</p> 
      {{#ifEquals userObj.username user.username}}
        <form action="/sign-out" method="POST">
          <button>Sign Out</button>
        </form>
      {{/ifEquals}}      
      {{#if follow}}
        <form action="/user/{{userObj.username}}/unfollow" method="post" class="text-left">
        <button type="button" class="btn-gradient p-2 rounded-twice">Unfollow</button>
        </form>
      {{else}}
        <form action="/user/{{userObj.username}}/follow" method="post" class="text-left">
        <button type="button" class="btn-gradient py-1 px-3 rounded-twice">Follow</button>
        </form>
      {{/if}} 
     </div> 
    </div>
</div>
<div class="bg-white">  
  <div class="mt-5 bg-color-pink">
    <div class="row text-center">
      <div class ="col-md-4 col-sm-4">
        <h6>Alredy watched</h6>
        <ul class="list-unstyled user-lists">
          {{#each userObj.watchedList}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class ="col-md-4 col-sm-4">
        <h6>Want to watch</h6>
        <ul class="list-unstyled user-lists">
          {{#each userObj.towatchList}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
      <div class ="col-md-4 col-sm-4 text-center">
        <h6>Currently watching</h6>
        <ul class="list-unstyled user-lists">
          {{#each userObj.watchingList}}
            <li>{{this}}</li>
          {{/each}}
       </ul>
      </div>
    </div>
  </div>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Approved</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Watched</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Want to watch</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Currently watched</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>

<div>
